article {
background-color: teal;
width: 100%;
height: 100%;
color: white;
display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
font-weight: bold;
}
.rouge{
    color:red;
}
.vert{
    color:green;
}
.gris{
    color: gray;
}
.compteur{
    margin: 30px;
    display: flex;
    gap: 20px;
}