
.app-container {
    background-color: rgb(255, 255, 255);
    height: calc(100vh - 200px);
}
/* il ne s'agit pas de app-container definie dans app.html, ici on l'indexe avec point */
.nav-col {
    flex: 1;
}

.main-col {
    flex: 3;
}