<div class="menu">
    <div>
        @if(clique){
            @for(items of liens; track items; let first = $first){
                @if (first){
                    <li><a href="#" [class.active]="couleur">{{items}}</a></li>
                }
                @else {
                    <li><a href="#">{{items}}</a></li>
                }
                
            }
        }
    </div>
   
        <button (click)="togglebutton()" class="btn btn-warning h-75 mb-100">Toggle Menu</button>

        
      
</div>