.menu a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
}
.menu li{
    display: inline-block;
    margin: 0 10px;
}
.menu .active{
    color: red ;
}

.menu{
    padding-top: 0px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

@media (max-width:600px){
    .menu li{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
   .menu a {
    font-size: 0.8rem;
   }
   .menu{
    padding-top: 0px;
    flex-direction: row;
    gap:30px;
    padding-right: 30px;
   }
    
}